@font-face {
    font-family: vazir;
    src: url(/assets/fonts/Vazirmatn-Thin.woff2);
    font-weight: 100;
}
@font-face {
    font-family: vazir;
    src: url(/assets/fonts/Vazirmatn-ExtraLight.woff2);
    font-weight: 200;
}
@font-face {
    font-family: vazir;
    src: url(/assets/fonts/Vazirmatn-Light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: vazir;
    src: url(/resources/assets/fonts/Vazirmatn-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: vazir;
    src: url(/resources/assets/fonts/Vazirmatn-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: vazir;
    src: url(/resources/assets/fonts/Vazirmatn-SemiBold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: vazir;
    src: url(/resources/assets/fonts/Vazirmatn-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: vazir;
    src: url(/resources/assets/fonts/Vazirmatn-ExtraBold.woff2);
    font-weight: 800;
}
@font-face {
    font-family: vazir;
    src: url(/resources/assets/fonts/Vazirmatn-black.woff2);
    font-weight: 900;
}
body *{
    font-family: vazir !important;
}
